body {
    margin: 0;
    padding: 0;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fhouse%2F&psig=AOvVaw0Y7-MCghd-u-yXU8MhILZ5&ust=1665050565147000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCNDggu7qyPoCFQAAAAAdAAAAABAN);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: ; */
}

.container {
    /* border: 1 rem;
    border-color: white; */
    /* background-color: aqua; */
    margin: 100px;
    padding: 100px;
    align-items: center;
}

.btn {
    /* border-radius: 10%; */
    border: white;
}
